In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("anime-dataset-2023.csv")

In [3]:
df.head()

,anime_id,Name,English name,Other name,Score,Genres,Synopsis,Type,Episodes,Aired,...,Studios,Source,Duration,Rating,Rank,Popularity,Favorites,Scored By,Members,Image URL
0,1,Cowboy Bebop,Cowboy Bebop,カウボーイビバップ,8.75,"Action, Award Winning, Sci-Fi","Crime is timeless. By the year 2071, humanity ...",TV,26.0,"Apr 3, 1998 to Apr 24, 1999",...,Sunrise,Original,24 min per ep,R - 17+ (violence & profanity),41.0,43,78525,914193.0,1771505,https://cdn.myanimelist.net/images/anime/4/196...
1,5,Cowboy Bebop: Tengoku no Tobira,Cowboy Bebop: The Movie,カウボーイビバップ 天国の扉,8.38,"Action, Sci-Fi","Another day, another bounty—such is the life o...",Movie,1.0,"Sep 1, 2001",...,Bones,Original,1 hr 55 min,R - 17+ (violence & profanity),189.0,602,1448,206248.0,360978,https://cdn.myanimelist.net/images/anime/1439/...
2,6,Trigun,Trigun,トライガン,8.22,"Action, Adventure, Sci-Fi","Vash the Stampede is the man with a $$60,000,0...",TV,26.0,"Apr 1, 1998 to Sep 30, 1998",...,Madhouse,Manga,24 min per ep,PG-13 - Teens 13 or older,328.0,246,15035,356739.0,727252,https://cdn.myanimelist.net/images/anime/7/203...
3,7,Witch Hunter Robin,Witch Hunter Robin,Witch Hunter ROBIN (ウイッチハンターロビン),7.25,"Action, Drama, Mystery, Supernatural",Robin Sena is a powerful craft user drafted in...,TV,26.0,"Jul 3, 2002 to Dec 25, 2002",...,Sunrise,Original,25 min per ep,PG-13 - Teens 13 or older,2764.0,1795,613,42829.0,111931,https://cdn.myanimelist.net/images/anime/10/19...
4,8,Bouken Ou Beet,Beet the Vandel Buster,冒険王ビィト,6.94,"Adventure, Fantasy, Supernatural",It is the dark century and the people are suff...,TV,52.0,"Sep 30, 2004 to Sep 29, 2005",...,Toei Animation,Manga,23 min per ep,PG - Children,4240.0,5126,14,6413.0,15001,https://cdn.myanimelist.net/images/anime/7/215...

In [4]:
df.describe()

           anime_id    Popularity      Favorites       Members
count  24905.000000  24905.000000   24905.000000  2.490500e+04
mean   29776.709014  12265.388356     432.595222  3.710496e+04
std    17976.076290   7187.428393    4353.181647  1.568252e+05
min        1.000000      0.000000       0.000000  0.000000e+00
25%    10507.000000   6040.000000       0.000000  2.090000e+02
50%    34628.000000  12265.000000       1.000000  1.056000e+03
75%    45240.000000  18491.000000      18.000000  9.326000e+03
max    55735.000000  24723.000000  217606.000000  3.744541e+06

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24905 entries, 0 to 24904
Data columns (total 24 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   anime_id      24905 non-null  int64
 1   Name          24905 non-null  object
 2   English name  24905 non-null  object
 3   Other name    24905 non-null  object
 4   Score         24905 non-null  object
 5   Genres        24905 non-null  object
 6   Synopsis      24905 non-null  object
 7   Type          24905 non-null  object
 8   Episodes      24905 non-null  object
 9   Aired         24905 non-null  object
 10  Premiered     24905 non-null  object
 11  Status        24905 non-null  object
 12  Producers     24905 non-null  object
 13  Licensors     24905 non-null  object
 14  Studios       24905 non-null  object
 15  Source        24905 non-null  object
 16  Duration      24905 non-null  object
 17  Rating        24905 non-null  object
 18  Rank          24905 non-null  object
 19  Popularity    24905 non-null  int64
 20  Favorites     24905 non-null  int64
 21  Scored By     24905 non-null  object
 22  Members       24905 non-null  int64
 23  Image URL     24905 non-null  object
dtypes: int64(4), object(20)
memory usage: 4.6+ MB

In [6]:
df.isnull().sum()

anime_id        0
Name            0
English name    0
Other name      0
Score           0
Genres          0
Synopsis        0
Type            0
Episodes        0
Aired           0
Premiered       0
Status          0
Producers       0
Licensors       0
Studios         0
Source          0
Duration        0
Rating          0
Rank            0
Popularity      0
Favorites       0
Scored By       0
Members         0
Image URL       0
dtype: int64

In [7]:
df.columns

Index(['anime_id', 'Name', 'English name', 'Other name', 'Score', 'Genres',
       'Synopsis', 'Type', 'Episodes', 'Aired', 'Premiered', 'Status',
       'Producers', 'Licensors', 'Studios', 'Source', 'Duration', 'Rating',
       'Rank', 'Popularity', 'Favorites', 'Scored By', 'Members', 'Image URL'],
      dtype='object')

In [8]:
new_data = df[["anime_id", "Name", "Synopsis", "Genres"]].copy()

In [9]:
new_data["tags"] = new_data["Synopsis"] + new_data["Genres"]
new_data.drop(columns=["Synopsis", "Genres"], inplace=True)

In [10]:
new_data

,anime_id,Name,tags
0,1,Cowboy Bebop,"Crime is timeless. By the year 2071, humanity ..."
1,5,Cowboy Bebop: Tengoku no Tobira,"Another day, another bounty—such is the life o..."
2,6,Trigun,"Vash the Stampede is the man with a $$60,000,0..."
3,7,Witch Hunter Robin,Robin Sena is a powerful craft user drafted in...
4,8,Bouken Ou Beet,It is the dark century and the people are suff...
...,...,...,...
24900,55731,Wu Nao Monu,No description available for this anime.Comedy...
24901,55732,Bu Xing Si: Yuan Qi,No description available for this anime.Action...
24902,55733,Di Yi Xulie,No description available for this anime.Action...
24903,55734,Bokura no Saishuu Sensou,A music video for the song Bokura no Saishuu S...
24904,55735,Shijuuku Nichi,A music video for the song Shijuuku Nichi by S...

In [11]:
from sklearn.feature_extraction.text import CountVectorizer

In [12]:
cv = CountVectorizer(max_features=new_data.shape[0], stop_words="english")

In [13]:
vector = cv.fit_transform(new_data["tags"].values.astype("U")).toarray()

In [14]:
vector.shape

(24905, 24905)

In [15]:
from sklearn.metrics.pairwise import cosine_similarity

In [16]:
def chunk_cosine_similarity_vector(vector, chunk_size=1000):
    # Menghitung panjang vektor
    length = len(vector)

    # Menentukan jumlah chunk
    num_chunks = (length + chunk_size - 1) // chunk_size

    # Inisialisasi matriks untuk menyimpan similarity
    similarity_matrix = np.zeros((length, length))

    # Menghitung similarity secara chunk by chunk
    for i in range(num_chunks):
        start_idx = i * chunk_size
        end_idx = min((i + 1) * chunk_size, length)

        # Mendapatkan bagian-bagian kecil dari vektor
        chunk_vector = vector[start_idx:end_idx].reshape(1, -1)

        # Menghitung cosine similarity untuk bagian kecil
        chunk_similarity = cosine_similarity(chunk_vector)

        # Menyimpan hasil di dalam matriks kesamaan
        similarity_matrix[start_idx:end_idx, :] = chunk_similarity[0, :]

    return similarity_matrix

In [17]:
similarity = chunk_cosine_similarity_vector(vector,chunk_size=1000)

In [18]:
similarity.shape

(24905, 24905)

In [19]:
sm = sorted(enumerate(list(similarity[2])), reverse=True, key=lambda vector: vector[1])

In [20]:
for i in sm[:5]:
    print(df.iloc[i[0]].Name)

Cowboy Bebop
Cowboy Bebop: Tengoku no Tobira
Trigun
Witch Hunter Robin
Bouken Ou Beet

In [21]:
def recommend(title):
    result = list()
    try:
        idx = new_data[new_data["Name"].str.contains(title)].index[0]
        
        sm = sorted(enumerate(list(similarity[idx])), reverse=True, key=lambda vector: vector[1])
        for i in sm[:5]:
            result.append(df.iloc[i[0]])
    except:
        pass
   
    return result

In [24]:
for i in recommend("b"):
    print(i.Name)

Cowboy Bebop
Cowboy Bebop: Tengoku no Tobira
Trigun
Witch Hunter Robin
Bouken Ou Beet

In [25]:
import pickle
import json

In [26]:
pickle.dump(df, open("movies_list.pkl", "wb"))
pickle.dump(similarity, open("similarity.pkl", "wb"))